* {margin:0;padding:0;}
html {height:100%;}
body {background-image:url(imgs/subtlenet2.png);font-family:Arial, Helvetica, sans-serif;}
a {text-decoration:none;}
.loginpanel {
	width:450px;
	height:300px;
	margin-left:-225px;
	margin-top:-150px;
}
.panel {
  background-color:#EEEEEE;
  border:1px solid #222222;
  left:50%; 
  position:fixed;
  top:50%; 
}
.panel h3 {
  background-color:#F25D23;
  border-bottom-color:#222222;
  border-bottom-style:solid;
  border-bottom-width:1px;
  color:#EEEEEE;
  height:50px;
  line-height:50px;
  text-indent:25px;
  width:100%;
}
.panel .panelbuttons {
  margin:60px auto;
  position:relative;
  width:400px;
}
.panel .panelbuttons .inputblock {
  background-color:#F6F6F6;
  border:1px solid #BBBBBB;
  display:block;
  margin-bottom:10px;
  overflow:hidden;
}
.panel .panelbuttons input {
  border-left-color:#BBBBBB;
  border-left-width:1px;
  border-style:none none none solid;
  float:right;
  height:35px;
  padding-left:5px;
  width:355px;
}
.panel .panelbuttons .inputblock:last-child {
  margin-bottom:0;
}
.panel .panelbuttons .userblock {
  background-image:url(imgs/user.png);
  background-position:10px 50%;
  background-repeat:no-repeat no-repeat;
}
.panel .panelbuttons .passwordblock {
  background-image:url(imgs/key.png);
  background-position:7px 50%;
  background-repeat:no-repeat no-repeat;
}
.panel .panelforgotten {
  bottom:-25px;
  color:#EEEEEE;
  font-size:10px;
  position:absolute;
  right:0;
  text-decoration:none;
}
.panel .panelforgotten:hover {
  color:#CCCCCC;
  text-decoration:underline;
}
.panel .panelbottom {
	background-color:#F25D23;
	border-top-color:#222222;
	border-top-style:solid;
	border-top-width:1px;
	bottom:0;
	height:50px;
	position:absolute;
	width:100%;
}
.panel .panelbottom .panelregister {
	line-height:50px;
	color:#EEEEEE;
	font-size:10px;
	position:absolute;
	left: 25px;
	text-decoration:none;
}
.panel .panelbottom .panelregister:hover {
  color:#DDDDDD;
  text-decoration:underline;
}
.panel .panelbottom input {
  background-color:#666666;
  border:1px solid #555555;
  bottom:10px;
  color:#CCCCCC;
  cursor:pointer;
  font-weight:bold;
  height:30px;
  padding:0 5px;
  position:absolute;
  right:25px;
}
.panel .panelbottom input:hover {
  background-color:#333333;
  border:1px solid #444444;
}

.registerpanel {
	width:450px;
	height:350px;
	margin-left:-225px;
	margin-top:-175px;
}
.panel .panelbuttons {
  margin:30px auto;
}
.panel .panelbuttons .emailblock{background: url('imgs/mail.png') no-repeat 7px center;}
.panel .panelbuttons .emailcheckblock{background: url('imgs/mail.png') no-repeat 7px center;}
/*Password strength*/
.validbar{margin: 2px;width: 200px;height:5px;background-color: #bbb;border:1px solid #888;}
.validinnerbar{width:0%;height:100%;background-color:#F25D23;}


.buttons{width:100%;text-align:center;margin-top: 10px;}
.buttons .button{margin-bottom: 10px;}
.hbtnncontainer{
	margin: 2px;
	overflow:auto;
	display:block;
	clear:both;
}
.hbtnncontainer .button{
	clear: none !important;
	float:left;
	border-radius: 0;
}
.hbtnncontainer .button:first-child{
	border-top-left-radius: 0.4em;
	border-bottom-left-radius: 0.4em;
}
.hbtnncontainer .button:last-child{
	border-top-right-radius: 0.4em;
	border-bottom-right-radius: 0.4em;
	clear: right;
}
.vbtnncontainer{
	width:100%;
	overflow:auto;
	clear:both;
}
.buttons.inner{
	float:left;
}
.vbtnncontainer .button{
	display:block;
	position:relative;
	border-radius: 0;
}
.vbtnncontainer .button:first-child{
	border-top-left-radius: 0.4em;
	border-top-right-radius: 0.4em;
}
.vbtnncontainer .button:last-child{
	border-bottom-left-radius: 0.4em;
	border-bottom-right-radius: 0.4em;
}
.button{
overflow:hidden;
clear:both;
display:inline-block;
color: #000000;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
text-decoration:none;
text-align:center;
background: #dddddd; /* Old browsers */
background: -moz-linear-gradient(top, #dddddd 1%, #bbbbbb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#dddddd), color-stop(100%,#bbbbbb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #dddddd 1%,#bbbbbb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #dddddd 1%,#bbbbbb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #dddddd 1%,#bbbbbb 100%); /* IE10+ */
background: linear-gradient(top, #dddddd 1%,#bbbbbb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#bbbbbb',GradientType=0 ); /* IE6-9 */
padding:8px 10px 8px 10px;
border-radius: 0.4em;
border: 1px solid #bbbbbb;
}
.main {font-weight: 700 !important;}
.big {font-size: 18px !important;}
.small {font-size: 12px !important;padding: 4px 6px 4px 6px;}
.rounded {border-radius: 1.5em !important;}
.button:hover{
color: #ffffff;
background: #f25d23; /* Old browsers */
background: -moz-linear-gradient(top, #f47543 0%, #f25d23 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f47543), color-stop(99%,#f25d23)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f47543 0%,#f25d23 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f47543 0%,#f25d23 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f47543 0%,#f25d23 99%); /* IE10+ */
background: linear-gradient(top, #f47543 0%,#f25d23 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47543', endColorstr='#f25d23',GradientType=0 ); /* IE6-9 */
border: 1px solid #f25d23;
}
.active{
color: #ffffff;
background: #f25d23; /* Old browsers */
background: -moz-linear-gradient(top, #f47543 0%, #f25d23 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f47543), color-stop(99%,#f25d23)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f47543 0%,#f25d23 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f47543 0%,#f25d23 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f47543 0%,#f25d23 99%); /* IE10+ */
background: linear-gradient(top, #f47543 0%,#f25d23 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47543', endColorstr='#f25d23',GradientType=0 ); /* IE6-9 */
border: 1px solid #f25d23;	
}
.danger{color:#ee0001;}
.danger:hover{
color: #ffffff;
background: #ee0001; /* Old browsers */
background: -moz-linear-gradient(top, #ee0001 0%, #cc0001 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee0001), color-stop(99%,#cc0001)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ee0001 0%,#cc0001 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ee0001 0%,#cc0001 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ee0001 0%,#cc0001 99%); /* IE10+ */
background: linear-gradient(top, #ee0001 0%,#cc0001 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee0001', endColorstr='#cc0001',GradientType=0 ); /* IE6-9 */
border: 1px solid #cc0001;
}
.icon:before {
	content: '';
	float:left;
	position:relative;
	margin-left: -6px;
	margin-right: 3px;
	height: 16px;
	width: 16px;
}
.bigicon:before {
	content: '';
	float:left;
	position:relative;
	margin-left: -6px;
	margin-right: 3px;
	height: 20px;
	width: 16px;
}
.topBtnContainer{
	margin: 0 auto;
	width: 688px;
}
.topBtn{
	width: 150px;
}
/*Icon btns*//*
.add:before {background: url('btnicons/add.png') center center no-repeat;}
.alert:before {background: url('btnicons/alert.png') center center no-repeat;}
.basket:before {background: url('btnicons/basket.png') center center no-repeat;}
.clip:before {background: url('btnicons/clip.png') center center no-repeat;}
.cloud:before {background: url('btnicons/cloud.png') center center no-repeat;}
.cross:before {background: url('btnicons/cross.png') center center no-repeat;}
.delete:before {background: url('btnicons/delete.png') center center no-repeat;}
.down:before {background: url('btnicons/down.png') center center no-repeat;}
.download:before {background: url('btnicons/download.png') center center no-repeat;}
.edit:before {background: url('btnicons/pencil.png') center center no-repeat;}
.email:before {background: url('btnicons/comment.png') center center no-repeat;}
.facebook:before {background: url('btnicons/facebook.png') center center no-repeat;}
.globe:before {background: url('btnicons/globe.png') center center no-repeat;}
.home:before {background: url('btnicons/home.png') center center no-repeat;}
.key:before {background: url('btnicons/key.png') center center no-repeat;}
.lightning:before {background: url('btnicons/lightning.png') center center no-repeat;}
.lock:before {background: url('btnicons/lock.png') center center no-repeat;}
.print:before {background: url('btnicons/print.png') center center no-repeat;}
.save:before {background: url('btnicons/save.png') center center no-repeat;}
.search:before {background: url('btnicons/search.png') center center no-repeat;}
.tick:before {background: url('btnicons/tick.png') center center no-repeat;}*/