/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    overflow-x: hidden
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
    margin: 0 auto;
	border-collapse: collapse;
	border-spacing: 0;
}
/*Fonts*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
/*Normal CSS*/
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #d2d2d2;
}
#header {
    color:#ffffff;
    position:relative;
    width: 100%;
    min-width: 800px;
    height: 50px;
    background-color:#f25d23;
}
#header h2 {
    line-height:50px;
    clear: both;
    text-align: left;
    margin-left:10%;
}

#header #navigation {
    display: inline;
    position:fixed;
    top:65px;
    left:50%;
    width: 120px;
    overflow:visible;
    margin-left:-60px;
}

#header #navigation ul {
    display: inline;
    text-decoration: none;
}

#header #navigation ul li {
    display: inline;
    color: #FFF;
}

#content {
    margin: 60px auto 0 auto;
    width: 80%;
    min-width: 800px;
    z-index: -1;
}

#search {
    display: none;
    overflow: hidden;
    color:#000000;
    background-color:#f25d23;
    position: absolute;
    right: 5%;
    top: 40px;
    border: 10px solid #222;
    width: 700px;
    max-height: 347px;
    z-index: 2;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#library-buttons, #library-buttons ul, #library-buttons ul li {
    display: inline;
}

#searchbox {
    position: absolute;
    right: 200px;
    top: 8px;
    padding: 5px;
    float: right;
    z-index:2;
    height: 25px;
    line-height: 25px;
}
#searchinput{
    padding: 0 5px 0 5px;
}
#searchfield {
    color: #03214D;
}
#search-results {
    display: inline;
    clear: both;
    padding: 10px;
    border-collapse: collapse;
    width: 100%;
    overflow-y: scroll;
    z-index: 1;
}
#search-results label{
    color: #ffffff;
    position:relative;
    bottom: 10px;
    left: 10px;
}
#search-results-table{
    width: 100%;
}
#search-results-table_info{
    color:#ffffff;
    position:relative;
    top: 10px;
    left: 10px;

}
#search-results-table_paginate{
    color:#ffffff;
    position:relative;
    top: 10px;
    right: 10px;
}
.box{
    position: relative;
    clear:both;
    width: 100%;
    min-width: 800px;
    overflow: hidden;
    margin: 0px auto 0 auto;
    border-radius: 0.8em;
}
#voting-table tr {
    display: block;
    position: relative;
    -moz-box-shadow: 1px 1px 5px #888;
    -webkit-box-shadow: 1px 1px 5px #888;
    box-shadow: 1px 1px 5px #888;
}
.col0 {
    width: 20px;
    text-align: center;
}
.col1 {
    width: 320px;
}
.col2 {
    width: 210px;
}
.col3 {
    text-align: right;
    width: 60px;
}
.col4 {
    width: 170px;
}
.col5 {
    width: 65px;
}
.votebox{
    text-align: center;
    padding-right: 5px;
    overflow:hidden;
    height: 25px;
    line-height: 25px;
}
.even .votebox{
    background-position: 0px 50px;
}
.votebtn {
    background: transparent ;
    border: none;
    width:16px;
    height: 100%;
    padding: 0;
    cursor: pointer;
    position:relative;
}
.votebtn:hover{
    top: 1px;
}
.votedown {
    background: url('imgs/arrow_down_16x16.png') center center no-repeat;
}
.votedown-red {
    background: url('imgs/arrow_down_red_16x16.png') center center no-repeat;
}
.votedown-green {
    background: url('imgs/arrow_down_green_16x16.png') center center no-repeat;
}
.voteup {
    background: url('imgs/arrow_up_16x16.png') center center no-repeat;
}
.voteup-red {
    background: url('imgs/arrow_up_red_16x16.png') center center no-repeat;
}
.voteup-green {
    background: url('imgs/arrow_up_green_16x16.png') center center no-repeat;
}
.addsong {
    float: right;
    color: #ff8400;
   	border: 1px solid #ff8400;
}
.score {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 20px;
}

a {
    text-decoration: none;
}
#search button {
    width: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 2px 4px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff 50%,
		#d6d6d6);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #ffffff),
		to(#d6d6d6));
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.1),
		0px 1px 0px rgba(255,255,255,1);
  cursor: pointer;
}

.dataTables_info {
    display: inline;
}
.dataTables_paginate {
    float: right;
    display: inline;    
}
.dataTables_paginate a {
    padding: 5px;
}
.dataTables_filter {
    position: absolute;
    overflow: visible;
    top: 18px;
    right: 20px;
}
.dataTables_filter input {
    padding: 2px 5px;
}
th {
    background: url('list-header.png');
    font: bold 11px 'Helvetica Neue',Arial,sans-serif;
    text-shadow: 0 1px 0 white;
    text-transform: uppercase;
    line-height: 22px;
    padding: 0 5px;
    text-align: left;
}
thead tr:first-child{
    height: 22px !important;
}
tr{
    height: 25px;
}
tr, .votebox {
    background: url('list-item.png') 0px 0px;
}

td {
    height: 25px;
    padding: 0 5px;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
}

tr.even {
    background-position: 0px 50px;
}

.selected {
    background-position: 0px 25px !important;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}

#history-container{
    margin-top: 10px;
}

#history-container .table-container {
    width: 1200px;
    margin: auto;
}

#history-container table {
    width: 100%;
}

#history-container #history-navigation {
    text-align: center;
}

#history-container #history-navigation ul li {
    color: #000;
    padding: 0 10px;
}

#footer {
    height : 50px;
    position: absolute;
    bottom: 0;
    margin: 0 auto 0 auto ;
    width: 100%;
    min-width: 800px;
    text-align: center;
    padding-top: 20px;
    clear: both;
    font-size: 10px;
}
.index .indexBtn{
    color: #ffffff;
    background: #f25d23; /* Old browsers */
    background: -moz-linear-gradient(top, #f47543 0%, #f25d23 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f47543), color-stop(99%,#f25d23)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f47543 0%,#f25d23 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f47543 0%,#f25d23 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f47543 0%,#f25d23 99%); /* IE10+ */
    background: linear-gradient(top, #f47543 0%,#f25d23 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47543', endColorstr='#f25d23',GradientType=0 ); /* IE6-9 */
    border: 1px solid #f25d23;
}
.history .historyBtn{
    color: #ffffff;
    background: #f25d23; /* Old browsers */
    background: -moz-linear-gradient(top, #f47543 0%, #f25d23 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f47543), color-stop(99%,#f25d23)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f47543 0%,#f25d23 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f47543 0%,#f25d23 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f47543 0%,#f25d23 99%); /* IE10+ */
    background: linear-gradient(top, #f47543 0%,#f25d23 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47543', endColorstr='#f25d23',GradientType=0 ); /* IE6-9 */
    border: 1px solid #f25d23;
}

.buttons{width:100%;text-align:center;margin-top: 10px;}
.buttons .button{margin-bottom: 10px;}
.hbtnncontainer{
	margin: 2px;
	overflow:auto;
	display:block;
	clear:both;
}
.hbtnncontainer .button{
	clear: none !important;
	float:left;
	border-radius: 0;
}
.hbtnncontainer .button:first-child{
	border-top-left-radius: 0.4em;
	border-bottom-left-radius: 0.4em;
}
.hbtnncontainer .button:last-child{
	border-top-right-radius: 0.4em;
	border-bottom-right-radius: 0.4em;
	clear: right;
}
.vbtnncontainer{
	width:100%;
	overflow:auto;
	clear:both;
}
.buttons.inner{
	float:left;
}
.vbtnncontainer .button{
	display:block;
	position:relative;
	border-radius: 0;
}
.vbtnncontainer .button:first-child{
	border-top-left-radius: 0.4em;
	border-top-right-radius: 0.4em;
}
.vbtnncontainer .button:last-child{
	border-bottom-left-radius: 0.4em;
	border-bottom-right-radius: 0.4em;
}
.button{
overflow:hidden;
clear:both;
display:inline-block;
color: #000000;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
text-decoration:none;
text-align:center;
background: #dddddd; /* Old browsers */
background: -moz-linear-gradient(top, #dddddd 1%, #bbbbbb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#dddddd), color-stop(100%,#bbbbbb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #dddddd 1%,#bbbbbb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #dddddd 1%,#bbbbbb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #dddddd 1%,#bbbbbb 100%); /* IE10+ */
background: linear-gradient(top, #dddddd 1%,#bbbbbb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#bbbbbb',GradientType=0 ); /* IE6-9 */
padding:8px 10px 8px 10px;
border-radius: 0.4em;
border: 1px solid #bbbbbb;
}
.main {font-weight: 700 !important;}
.big {font-size: 18px !important;}
.small {font-size: 12px !important;padding: 4px 6px 4px 6px;}
.rounded {border-radius: 1.5em !important;}
.button:hover{
color: #ffffff;
background: #f25d23; /* Old browsers */
background: -moz-linear-gradient(top, #f47543 0%, #f25d23 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f47543), color-stop(99%,#f25d23)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f47543 0%,#f25d23 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f47543 0%,#f25d23 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f47543 0%,#f25d23 99%); /* IE10+ */
background: linear-gradient(top, #f47543 0%,#f25d23 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47543', endColorstr='#f25d23',GradientType=0 ); /* IE6-9 */
border: 1px solid #f25d23;
}
.active{
color: #ffffff;
background: #f25d23; /* Old browsers */
background: -moz-linear-gradient(top, #f47543 0%, #f25d23 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f47543), color-stop(99%,#f25d23)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f47543 0%,#f25d23 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f47543 0%,#f25d23 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f47543 0%,#f25d23 99%); /* IE10+ */
background: linear-gradient(top, #f47543 0%,#f25d23 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47543', endColorstr='#f25d23',GradientType=0 ); /* IE6-9 */
border: 1px solid #f25d23;	
}
.danger{color:#ee0001;}
.danger:hover{
color: #ffffff;
background: #ee0001; /* Old browsers */
background: -moz-linear-gradient(top, #ee0001 0%, #cc0001 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee0001), color-stop(99%,#cc0001)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ee0001 0%,#cc0001 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ee0001 0%,#cc0001 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ee0001 0%,#cc0001 99%); /* IE10+ */
background: linear-gradient(top, #ee0001 0%,#cc0001 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee0001', endColorstr='#cc0001',GradientType=0 ); /* IE6-9 */
border: 1px solid #cc0001;
}
.icon:before {
	content: '';
	float:left;
	position:relative;
	margin-left: -6px;
	margin-right: 3px;
	height: 16px;
	width: 16px;
}
.bigicon:before {
	content: '';
	float:left;
	position:relative;
	margin-left: -6px;
	margin-right: 3px;
	height: 20px;
	width: 16px;
}
.topBtnContainer{
	margin: 0 auto;
	width: 688px;
}
.topBtn{
	width: 150px;
}
/*Icon btns*//*
.add:before {background: url('btnicons/add.png') center center no-repeat;}
.alert:before {background: url('btnicons/alert.png') center center no-repeat;}
.basket:before {background: url('btnicons/basket.png') center center no-repeat;}
.clip:before {background: url('btnicons/clip.png') center center no-repeat;}
.cloud:before {background: url('btnicons/cloud.png') center center no-repeat;}
.cross:before {background: url('btnicons/cross.png') center center no-repeat;}
.delete:before {background: url('btnicons/delete.png') center center no-repeat;}
.down:before {background: url('btnicons/down.png') center center no-repeat;}
.download:before {background: url('btnicons/download.png') center center no-repeat;}
.edit:before {background: url('btnicons/pencil.png') center center no-repeat;}
.email:before {background: url('btnicons/comment.png') center center no-repeat;}
.facebook:before {background: url('btnicons/facebook.png') center center no-repeat;}
.globe:before {background: url('btnicons/globe.png') center center no-repeat;}
.home:before {background: url('btnicons/home.png') center center no-repeat;}
.key:before {background: url('btnicons/key.png') center center no-repeat;}
.lightning:before {background: url('btnicons/lightning.png') center center no-repeat;}
.lock:before {background: url('btnicons/lock.png') center center no-repeat;}
.print:before {background: url('btnicons/print.png') center center no-repeat;}
.save:before {background: url('btnicons/save.png') center center no-repeat;}
.search:before {background: url('btnicons/search.png') center center no-repeat;}
.tick:before {background: url('btnicons/tick.png') center center no-repeat;}*/